[buildout]
find-links =
    http://dist.plone.org/release/4.3.3
    http://dist.plone.org/thirdparty

extends =
    http://dist.plone.org/release/4.3.3/versions.cfg
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/prodamspsites/prodam_buildout/master/extensions/versions.cfg
    https://raw.githubusercontent.com/prodamspsites/prodam_buildout/master/extensions/fixes.cfg
    source.cfg

package-name = prodam.tiles
package-extras = [test]
eggs +=
    iw.debug
    plone.reload
    prodam.portal

parts +=
    createcoverage
    omelette
    robot

[code-analysis]
directory = ${buildout:directory}/src/prodam/teste
pre-commit-hook = True
flake8-ignore = E501
clean-lines = True
deprecated-aliases = True
imports = True
prefer-single-quotes = True
return-status-codes = True
utf8-header = True

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[ride,reload]


[versions]
setuptools =
